.container {
    display: flex;
    justify-content: space-between;
}

.container div {
    display: flex;
    gap: 5px;
}


input[type='radio'] {
    appearance: unset;
    display: flex;
    width: 20px;
    height: 20px;
    padding: 2px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    flex-direction: column;

    background-color: #FFF;
    outline: 2px solid #E0E0E0;
}


input[type=radio]:checked {
    background-color: #FC842D;
    outline: 2px solid #E0E0E0;
    border: 5px solid #ffffff;
}


.selected {
    color: #FC842D;
}
