.dailyCaloriesContent h2 {
  text-align: left;
  font-family: Verdana;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 36.4px */
  text-transform: none;

  color: #212121;
  width: 508px;
  height: 70px;
  flex-shrink: 2;
  margin: 64px 82px 20px;
}
.container > h2 {
  color: #212121;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 25.2px */
  /* max-width: 320px; */
  text-transform: none;
}
.modalList {
  /* width: 222px; */
  height: 112px;
  flex-shrink: 0;

  color: #9b9faa;
  font-family: Verdana;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.56px;
  margin: 20px 82px 40px;
}
.dailyCaloriesContent {
  & p {
    width: 330px;
    color: #212121;
    font-family: Verdana;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.56px;
  }
}
.modalContent {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 376px;
  width: 100%;
}
.orderList {
  list-style: decimal;
  margin-left: 20px;
  gap: 40px;
}
button {
  display: inline-flex;
  padding: 13px 25px;
  justify-content: center;
  align-items: center;
  margin: 40px 0 80px;
}

.caloriesVal p {
  color: #264061;
  text-align: center;
  font-family: Verdana;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.92px;
}
span {
  /*  width: 508px;
  height: 70px;
  flex-shrink: 0; */

  color: #212121;
  text-align: center;
  font-family: Verdana;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 36.4px */
}
@media screen and (min-width: 377px) {
  .dailyCaloriesContent {
  }

  .dailyCaloriesContent > h2 {
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 47.6px */
    max-width: 704px;
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
  }

  .infoContainer {
    flex-direction: row;
  }

  .form {
    max-width: 100%;
  }
  .button {
    margin-left: 231px;
  }
}

@media screen and (min-width: 769px) {
  .container {
    /* margin-top: 147px; */
  }

  .container > h1 {
    max-width: 608px;
  }

  .button {
    margin-left: 231px;
  }

  .textField {
    max-width: 240px;
  }

  .info {
    width: 100%;
    max-width: 240px;
  }
}

/* Adjust specifically for very small screens like 275px */
/* @media (max-width: 320px) {
  .modalButton {
    padding: 12px;
    font-size: 1rem;
  }
} */
