@import-normalize; /* bring in normalize.css styles */

:root {
    --main-color: #9B9FAA;
    --white: #FFF;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: verdana, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--main-color);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.input-container {
    position: relative;
    margin: 20px;
}

.input-field {
    padding-bottom: 5px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    transition: border-color 0.3s ease;

    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.56px;
}

/*.input-field:focus {
  border-bottom: 2px solid #007BFF; !* Change this color for focus state *!
}*/

.input-field::placeholder {
    color: #9B9FAA;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.56px;
    opacity: 1;
}

button {
    display: inline-flex;
    padding: 13px 25px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: #FC842D;
    border: none;
    box-shadow: 0px 4px 10px 0px rgba(252, 132, 45, 0.50);
    cursor: pointer;

    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.56px;;
}

button:hover, button:focus {
    background: #f77010;
    transition: ease 0.5s ;
}

.secondary {
    background: var(--white);
    color: #FC842D;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.56px;
    box-shadow: none;
    border-radius: 30px;
    border: 2px solid #FC842D;
}