@import-normalize; /* bring in normalize.css styles */

:root {
  --main-color: #9b9faa;
  --white: #fff;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #264061; /* Darker thumb on hover */
}

/* Webkit-based browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 10px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #264061;
}

::-webkit-scrollbar-track {
  background: #f0f1f3; /* Background of the scrollbar track */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #264061; /* Scrollbar thumb color */
  border-radius: 5px; /* Rounded scrollbar */
  border: 1px solid #264061; /* Space between scrollbar and edge */
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: verdana, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--main-color);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.input-container {
  position: relative;
  margin: 20px;
}

.input-field {
  padding-bottom: 5px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  transition: border-color 0.3s ease;

  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.56px;
}

/*.input-field:focus {
  border-bottom: 2px solid #007BFF; !* Change this color for focus state *!
}*/

.input-field::placeholder {
  color: #9b9faa;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.56px;
  opacity: 1;
}

.button {
  display: inline-flex;
  padding: 13px 25px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: #fc842d;
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(252, 132, 45, 0.5);
  cursor: pointer;

  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.56px;
}

.button:hover,
.button:focus {
  background: #f77010;
  transition: ease 0.5s;
}

.secondary {
  background: var(--white);
  color: #fc842d;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.56px;
  box-shadow: none;
  border-radius: 30px;
  border: 2px solid #fc842d;
}
