.container {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.exit {
    border: none;
    cursor: pointer;
    color: #9B9FAA;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.56px;
}