.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin: 32px 20px 20px 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 399px;
  width: 100%;
}

.header {
  color: #FC842D;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.56px;
  text-transform: uppercase;
  margin: 40px 0 65px 0;
}

.message {
  color: #097B45;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 4px 18px 18px 18px;
  white-space: nowrap;
}

.actionButtons {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

.actionButtons button {
  width: 145px;
}

.actionButtons p {
  color: rgba(250, 250, 250, 0.60);
  font-feature-settings: 'liga' off, 'clig' off;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
}

.actionButtons > p > a {
  color: #FAFAFA;
  font-feature-settings: 'liga' off, 'clig' off;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-decoration-line: underline;
}

.invalid, .invalid:hover {
  border-color: var(--red);
}

.valid {
  border-color: #097B45;
}


@media screen and (min-width: 377px) {
  .container {
    align-items: flex-start;
  }

  .actionButtons {
    align-items: flex-start;
    flex-direction: row;
  }

}