.logoContainer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.logoContainer svg {
  /*display: none;*/
  visibility: hidden;
}

.icon {
  background: url(../../assets/images/logo.webp) lightgray 50% / cover no-repeat;
  width: 46.667px;
  height: 44px;
  flex-shrink: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.text {
  color: #FAFAFA;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.4px;
  text-transform: uppercase;
}

@media screen and (min-width: 377px) {
  .logoContainer svg {
    visibility: visible;
    position: initial;
  }
}

@media screen and (min-width: 769px) {
  .logoContainer svg {
    visibility: visible;
    top: 50px;
    left: 60px;
    position: absolute;
  }
}
