.container {
    display: flex;
    flex-direction: column;
    margin: 32px 20px 20px 20px;
    gap: 34px;
}

.container > h1 {
    color: #212121;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 25.2px */
    max-width: 280px;

}

.form {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    gap: 32px;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.bloodTypeContainer {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.textField, .bloodTypeContainer {
    max-width: 239px;
}


.bloodTypeContainer > span {
    color: #9B9FAA;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.56px;
}

.images {
    position: relative;
/*    overflow: hidden;*/
    width: 100%;
}

.strawberry {
    flex-shrink: 0;
    position: absolute;
    overflow: hidden;
}

.banana {
    flex-shrink: 0;
    position: absolute;
    overflow: hidden;
}

@media screen and (min-width: 376px) {
    .container {

    }
    .container > h1 {
        font-size: 34px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%; /* 47.6px */
        max-width: 704px;
    }
    .infoContainer {
        flex-direction: row;
    }

    .form {
        max-width: 100%;
    }

    .images {
       /* position: relative;
        overflow: visible;*/
    }
    .strawberry {
        width: 208px;
        height: 203px;
        flex-shrink: 0;
        top: 583px;
        right: 96px;
        transform: scaleX(-1);
        overflow: hidden;
    }

    .banana {
        width: 740px;
        height: 527px;
        flex-shrink: 0;
        position: absolute;
        top: 593px;
        right: -249px;
        overflow: hidden;
    }


}

@media screen and (min-width: 768px) {

}
