.container {
    display: flex;
    flex-direction: column;
    gap: 34px;
    margin: 32px 20px 20px 20px;
    & button {
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }
}

.container > h1 {
    color: #212121;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 25.2px */
    max-width: 280px;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    gap: 32px;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.bloodTypeContainer {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.textField, .bloodTypeContainer {
    max-width: 239px;
}


.bloodTypeContainer > span {
    color: #9B9FAA;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.56px;
}

@media screen and (min-width: 377px) {
    .container {

    }

    .container > h1 {
        font-size: 34px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%; /* 47.6px */
        max-width: 704px;
        margin-top: 40px;
        margin-bottom: 30px;
    }

    .infoContainer {
        flex-direction: row;
    }

    .form {
        max-width: 100%;
    }

}

@media screen and (min-width: 769px) {
    .container {
        margin-top: 147px;
    }

    .container > h1 {
        max-width: 608px;
    }


    .button {
        margin-left: 339px;
    }

    .textField {
        max-width: 240px;
    }

    .info {
        width: 100%;
        max-width: 240px;
    }
}
