.item {
    color: #212121;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
    padding-bottom: 20px;
    align-items: end;
}

.product {
    width: 60%;
    min-width: 50px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 8px;
}

.grams {
    width: 15%;
    border-bottom: 1px solid lightgray;
    padding-bottom: 8px;
    text-align: right;
    white-space: nowrap;
}

.calories {
    width: 25%;
    border-bottom: 1px solid lightgray;
    padding-bottom: 8px;
    text-align: right;
}

.deleteButton {
    background: none;
    border: none;
    color: #9b9faa;
    font-size: 24px;
    cursor: pointer;
    padding: 0 10px 0 10px;
}

.deleteButton:hover {
    color: darkred;
}