/* Overlay that covers the entire screen */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    z-index: 1000;

    border: 1px solid rgba(250, 250, 250, 0.10);
    /*background: #0C0D0D99;*/
    background: none;
}

/* Container for the modal content */
.modalContainer {
    top: 80px;
    /*height: fit-content;*/
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;

    border: 1px solid rgba(250, 250, 250, 0.10);
    background: var(--white);
    max-width: 100%;
    height: 100%;
    width: 100%;
}

.modalContainer h2 {
    color: #FAFAFA;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.56px;
    text-transform: capitalize;
}

.actionContainer {
  background: #eff1f3;
  height: 40px;
  flex-shrink: 0;
  width: 100%;
  display: flex;
  align-items: center;
}

.actionContainer > svg {
  margin-left: 20px;
  cursor: pointer;
}

.actionContainer > button {
  display: none;
}

/* Close button at the top-right corner */
.modalCloseButton {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #000000;
  box-shadow: none;
}

.modalCloseButton:hover,
.modalCloseButton:focus {
  background: none;
}

/* Content inside the modal */
.modalContent {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /*min-width: 376px;*/
    width: 100%;
}

@media screen and (min-width: 377px) {
    .modalOverlay {
        background: #0C0D0D99;
    }

    .modalContainer {
        /*top: 226px;*/
        max-width: 672px;
        width: 100%;
        height: fit-content;
    }

    .actionContainer {
        background: var(--white);
    }

    .actionContainer > button {
        display: block;
    }

    .actionContainer > svg {
        display: none;
    }


}

/*!* Styles for screens between 376px and 768px wide (e.g., tablets) *!
@media screen and (max-width: 768px) {
    .modalContent > form {
        padding: 40px;
    }
}

*/
