.datePickerContainer {
    padding-top: 40px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    position: relative;
}

.dateLabel {
    margin-right: 10px;
    color: #212121;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.iconButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #9b9faa;
    padding: 0;
    display: flex;
    align-items: center;
}

.iconButton:focus {
    outline: none;
}

.fixedPopper {
    position: fixed;
    z-index: 1000;
}

@media screen and (min-width: 377px) {
    .dateLabel {
        color: #212121;
        font-size: 34px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .datePickerContainer {
        padding-bottom: unset;
    }
}