.container {
    display: flex;
    gap: 14px;
    align-items: center;
    padding-left: 20px;
    text-overflow: fade;
}

.container a {
    color: #9B9FAA;
    text-align: right;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.56px;
    text-transform: uppercase;
    white-space: nowrap;
    text-decoration: none;
}


a.active {
    color: #212121;
    text-align: right;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.56px;
    text-transform: uppercase;
}


@media screen and (min-width: 769px) {

    .container::before {
        content: '|';
        color: #E0E0E0;
        font-size: 32px;
        margin-right: 5px;
    }

    .container {
        top: 40px;
        left: 160px;
        position: absolute;
        gap: 14px;
    }
}
