.fab {
  position: fixed;
  bottom: 16px;
  right: 16px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #ff7f00;
  border: none;
  color: white;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.plusIcon {
  font-size: 24px;
  line-height: 1;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  width: 285px;
  margin: 45px auto 0;
}

.inputContainer {
  width: 100%;
  margin-bottom: 20px;
}

input::placeholder {
  font-weight: bold;
  color: #999;
}

label {
  font-size: 16px;
  font-weight: 500;
  color: #9E9E9E;
  margin-bottom: 8px;
  display: block;
}

input {
  width: 100%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid #E0E0E0;
  font-size: 18px;
  color: #9E9E9E; 
  outline: none; 
  transition: border-color 0.3s ease;
}


input:focus {
  border-bottom: 1px solid #ff7f00; 
}

.addButton {
  background-color: #ff7f00;
  color: white;
  padding: 13px 46px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 176px;
  font-size: 18px;
  margin-top: 80px;
}

.addButton:hover {
  background-color: #ff9500;
}




@media (max-width: 377px) {
  .form {
      width: 285px;
      padding: 20px;
  }
}

