/* RightSideModal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100vw; /* Adjust width as needed */
    background-color: #0C0D0D99;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1000; /* Ensure it's on top of other content */
}

.modal-content {
    background: #0EF387;
    width: 321px;
    flex-shrink: 0;
    height: 100%;
    padding: 18px 32px 32px 32px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
    position: relative;
}

.close-btn {
    position: absolute;
    top: 48px;
    right: 38px;
    background: none;
    border: none;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.menu {
    margin-top: 18px;
}


.nav {
    display: flex;
    flex-direction: column;

    padding: 12px 23px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 380px;
}


.modal-content a {
    color: #0C0D0D;
    border: 1px solid rgba(12, 13, 13, 0.40);
}

.modal-content a:hover, .modal-content .active {
    border-radius: 30px;
    background: #0C0D0D;
    color: #FAFAFA;
}

@media screen and (min-width: 768px) {
    .modal-overlay {
       /* display: none;*/
    }
    .modal-content {
       /* display: none;*/
    }
}

@media screen and (max-width: 368px) {
    .modal-content {
        width: 375px;
    }

    .nav {
        margin-top: 330px;
    }
}